@font-face {
    font-family: fangsong;
    src: url('font/仿宋.ttf'),
}

@font-face {
    font-family: huawenxingkai;
    src: url('font/华文行楷.ttf'),
}
@font-face {
    font-family: weiruanyahei;
    src: url('font/微软雅黑.ttf'),
}
@font-face {
    font-family: lvshu;
    src: url('font/隶书.TTF'),
}

.fangsong{
    font-family: fangsong;
}
.huawenxingkai{
    font-family: huawenxingkai;
}
.weiruanyahei{
    font-family: weiruanyahei;
}
.lvshu{
    font-family: lvshu ;
}

